// Пути к шрифтам
$font-path: '../fonts';

// Семейства шрифтов
$font-regular: 'TT Lakes Regular';
$font-medium: 'TT Lakes Medium';
$font-bold: 'TT Lakes Bold';

// Цвета
$main-font-color: rgba(27, 28, 33, 1);
$gray-font-color: rgba(126, 126, 130, 1);

$pink: rgba(255, 62, 121, 1);
$cyan: rgba(65, 246, 215, 1);
$transparent-cyan: rgba(184, 255, 236, 1);

$border-color: rgba(234, 234, 234, 1);
$background-color: rgba(248, 248, 248, 1);
$element-color: rgba(255, 255, 255, 1);