html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 16px;
  background-color: $background-color;
  color: $main-font-color;
  font-family: $font-regular, sans-serif;
  overflow-y: scroll;
}

button {
  font-family: $font-regular, sans-serif;
}

a {
  text-decoration: none;
  color: $main-font-color;
}

ul {
  list-style: none;
}

/* стили для тестов */

//.section {
//  margin-bottom: 50px;
//}

//.section:last-child {
//  margin-bottom: 500px;
//}

.hidden {
  display: none;
}