.about {
  display: block;
  margin-top: 24px;
}

.about__description {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
}

.about__text {
  margin: 0;
}

.about__expand-button {

}

.about__image {
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .about__image {
    box-sizing: border-box;
    padding: 0 16px;
  }
}

@media screen and (min-width: 600px) {
  .about {
    display: flex;
    margin: 24px 24px 0;
    gap: clamp(36px, 42px, 48px);
  }

  .about__description {
    width: 50%;
    padding: 0;
  }

  .about__text {
    margin-bottom: 10px;
  }

  .about__expand-button {
    margin: 0 32px;
  }

  .about__image {
    border-radius: 6px;
    width: 50%;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .about {
    margin-top: 32px;
  }

  .about__text:after {
    content: attr(data-text-less);
    display: block;
    margin: 1em 0;
  }
}

@media screen and (min-width: 968px) {
  .about__text:after {
    content: attr(data-text-more);
    display: block;
    margin: 1em 0;
  }
}

@media screen and (min-width: 1260px) {
  .about {
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1120px;
  }
}