.content {
  transition: padding-left 0.5s;
}

/* content header */
.content__header {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 24px;
}

.content__title--highlighted {
}

.content__title--highlighted:before {
  content: url("../svg/title-highlight.svg");
  position: absolute;
  left: 0;
}

.content__title {
  font-family: $font-bold;
  font-size: 28px;
  line-height: 40px;
  margin: 0 16px;
  text-wrap: nowrap;
}

.content__burger-group {
  display: none;
  gap: 32px;
  margin-right: 32px;
}

.content__burger-wrapper {
  display: flex;
  align-items: center;
}

.content__burger-label {
  text-wrap: nowrap;
  margin-right: 8px;
}

.content__burger {
}

@media screen and (min-width: 768px) {
  .content__title {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1120px) {
  .content {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1260px) {
  .content {
    box-sizing: content-box;
    padding-left: 320px; /* ширина sidebar */
    padding-right: 0;
    margin: 0 auto;
    /*padding: 0 16px;*/
  }

  .content > * {
    box-sizing: border-box;
    padding: 0 32px;
  }

  .content__header {
    margin-top: 42px;
  }

  .content__title {
    margin-right: auto;
    margin-left: 0;
  }

  .content__burger-group {
    display: flex;
  }
}

@media screen and (min-width: 1560px) {
  .content__title {
    margin-left: 32px;
  }
}